@charset "UTF-8";

@import "partials/vars";
@import "partials/fonts";

// -------------------------------- resets 
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
    @extend %nofrill;
    list-style: none;
}


img {
    display: block;
}

:focus {
    outline: none; // set on button
}

// --------------------------------

body {
    color: $color-font;
    font: 13px $font-base;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-bottom: $border;
    padding: 9px $pad-right 9px $pad-left;
    height: $nav-h; 

    .logo {
        @extend %nofrill;
        color: $color-google;
        font: $regular 24px $font-base;
        width: $aside-w - $pad-left;
    }

    &__time {
        margin-right: 20px;
    }

    &__views {
        margin-left: auto;
    }
}

.button {
    display: inline-block;
    white-space: nowrap;
    background: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: #444;
    cursor: pointer;
    font-size: 11px;
    font-weight: $bold;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;

    &:hover {
        background: #F8F8F8;
        border: 1px solid #C6C6C6;
        color: $color-google;
        box-shadow: 0px 1px 1px rgba(0,0,0,.1);
    }

    &:focus {
        border: 1px solid $color-google;
        box-shadow: 0px 1px 1px rgba(0,0,0,.1);
        background: #F8F8F8;
    }

    &.on {
        background: #ddd;
        border: 1px solid #ccc;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
        color: #333;
        cursor: default;

        &:focus {
            border: solid 1px $color-google;
        }
    }

    &--today {
      margin-right: 7px;
    }

    &--prev, &--week {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    &--prev, &--next {
        min-width: 0;
    }

    &--next, &--month {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left: none;
        
        &:hover {
            border-left: none;
        }

        &:focus {
            border-left: solid 1px $color-google;
        }
    }
}

.access-text { 
  position: absolute;
  top: -9999px;
  left: -9999px;
}


// ------------------------------------ scrolling container
.container {
    @extend %clearfix;
    position: fixed;
    margin-left: $aside-w;
    height: calc(100% - #{$nav-h});
    overflow-y: auto;
    width: calc(100% - #{$aside-w});
}

// ------------------------------------ week view

.week {
    width: calc(100% - 20px);
    border-bottom: $border;
  
    &__header {
        background-color: #fff;
        border-bottom: $border;
        position: fixed;
        top: $nav-h;
        left: $aside-w - 1;
        display: table;
        width: calc(100% - 233px);
        height: $theader-h;
        z-index: 10;

        &__row {
            display: table-row;
        }

        &__item {
            display: table-cell;
            width: $days-col-w;
            font-weight: $regular;
            font-size: 12px;  
            border-top: $border;
        }

        .empty {
            border-color: transparent;
            span {
                visibility: hidden;
            }
        }
    }

    .weekday--empty {
        width: $time-label-w;
        border: none;
    }

    &__row {
        border-top: $border;
        width: 100%;
        height: 60px;
        box-sizing: border-box;

        &__item {
            border-right: $border;
            width: $days-col-w;
            height: $hour-h - 1;
        }

        &__label {
            font-size: 12px;
            width: $time-label-w;
            font-weight: $regular;
            padding: $pad-label;
            text-align: right;
            vertical-align: top;
            color: #666;
            border-left: $border;
            border-right: $border;
        }

        &:first-child {
            .week__row__item, .week__row__label {
                padding-top: $theader-h;
                height: $theader-h + $hour-h - 1;
            }

            .week__row__label {
                padding-top: $theader-h + $pad-label;
            }
        }
    }
}

// ------------------------------------ month view
.month {
    width: calc(100% - 20px);
    height: 100%;
    min-height: 400px;
    table-layout: fixed;

    &__header {
        &__item {
            font-weight: $regular;
            font-size: 12px;  
            height: $theader-h;
            text-align: left;
        }
    }

    &__row {
        border-top: $border;

    }

    &__item {
        border-right: $border;
        padding: 5px;
        vertical-align: top;
        color: $color-lighter-font;
        position: relative;

        &:first-child {
            border-left: $border;
        }
    }

}

// ------------------------------------  hour in the week

.hour {
    position: relative;
    height: 100%;
    width: 100%;

    .divider {
        border-top: dotted 1px #ccc;
    }

    .halfhour {
        height: 50%;
    }

    .timeLine {
        border-top: solid 2px $color-google;
        opacity: 0.6px;
        position: absolute;
        top: -5px;
        left: 0;   
        width: 100%;
        height: 2px;
        display: none;
    }

}

// ------------------------------------  

.fade {
    color: $color-lightest-font;
}

.today {
    background-color: #efefef;
}

.timepointer {
    position: absolute;
    top: 0; 
    left: -3px;
    color: $color-google;
    z-index: 2;
    font-size: 12px;
    height: 10px;
}

// ------------------------------------  animations

.month-enter {
  @extend %transparent;
}

.month-enter.month-enter-active {
  @extend %solid;
}

.month-leave {
  @extend %solid;
}

.month-leave.month-leave-active {
  @extend %transparent;
}

.week-enter {
    @extend %transparent;
}

.week-enter.week-enter-active {
    @extend %solid;
}

.week-leave {
    @extend %solid;
}

.week-leave.week-leave-active {
    @extend %transparent;
}

// ------------------------------------  firefox
@-moz-document url-prefix() { 
    .container {
        padding-left: 1px;
    }

    .week {
  
        &__header {
            left: $aside-w - 2;
        }
    }
}

// ------------------------------------  ipad and smaller
@media screen and (max-width: 980px) {
}

// ------------------------------------  iphone
@media screen and (max-width: 600px)  {

}