@charset "UTF-8";

@import "partials/vars";
@import "partials/fonts";

// -------------------------------- resets 
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
    @extend %nofrill;
    list-style: none;
}


img {
    display: block;
}

:focus {
    outline: none;
    border-bottom: solid 3px gray;
}

// --------------------------------

body {
    color: $color-font;
    font: 13px $font-base;
    overflow: hidden;
}
.calendar {
    height: 100%;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-bottom: $border;
    padding: 9px 35px 9px 20px;
    height: $h-nav;

    .logo {
        @extend %nofrill;
        color: $color-google;
        font: $regular 24px $font-base;
        width: 184px;
    }

    &__button {
        display: inline-block;
        white-space: nowrap;
        background: #f5f5f5 -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        color: #444;
        cursor: pointer;
        font-size: 11px;
        font-weight: $bold;
        height: 27px;
        line-height: 27px;
        min-width: 54px;
        padding: 0 8px;
        text-align: center;

        &:hover {
            background: #F8F8F8 -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
            border: 1px solid #C6C6C6;
            color: #333;
            box-shadow: 0px 1px 1px rgba(0,0,0,.1);
        }

        &.on {
            background: #eee -webkit-linear-gradient(top,#eeeeee, #e0e0e0);
            border: 1px solid #ccc;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
            color: #333;
        }

        &--today {
          margin-right: 7px;
        }

        &--prev, &--week {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        &--next, &--month {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-left: none;
            &:hover {
                border-left: none;
            }
        }
    }

    &__time {
        margin-right: 20px;
    }

    &__views {
        margin-left: auto;
    }
}

// ------------------------------------ week view
.container {
    position: fixed;
   
    margin-left: 200px;
    height: 100%;
    overflow-y: auto;
    width: calc(100% - 200px);
}

.week {
    width: calc(100% - 20px);
    margin: 0px 0 60px 1px;

    &__header {
        background-color: #fff;
        border-bottom: $border;
        position: fixed;
        left: 200px;
        display: table;
        width: calc(100% - 233px);

        &__row {
            display: table-row;
        }

        &__item {
            display: table-cell;
            width: 10%;
            height: 40px;
            font-weight: $regular;
            font-size: 12px;  
            // border-left: $border;
           
        }

        .timerow__label {
            border-color: transparent;

            span {
                visibility: hidden;
            }
        }
    }

    .weekday--empty {
        width: 5%;
        border: none;
    }

    &__body {

        
        &__item {
            border-right: $border;
            width: 10%;
            box-sizing: content-box;
            height: 60px;

        }
    }
}

.divider {
    border-top: dotted 1px #ccc;
}

.timerow {
    border-top: $border;
    width: 100%;

    &__label {
        font-size: 12px;
        width: 5%;
        font-weight: $regular;
        padding: 5px;
        border-left: $border;
        border-right: $border;
        text-align: right;
        vertical-align: top;
        color: #666;
    }

    &:first-child {
        .week__body__item, .timerow__label {
            padding-top: 45px;
        }
    }
}



// ------------------------------------  ipad and smaller
@media screen and (max-width: 980px) {
}

// ------------------------------------  iphone
@media screen and (max-width: 600px)  {

}