ol, ul, .nav .logo {
  margin: 0;
  /* test */
  padding: 0; }

[data-icon]:before, [class^="cc-"]:before, [class*=" cc-"]:before, [class^="cc-"]:after, [class*=" cc-"]:after {
  font-family: "carrotcell" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle; }

@font-face {
  font-family: 'code';
  src: url('../fonts/Code-Light.eot');
  src: url('../fonts/Code-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Code-Light.woff') format('woff'), url('../fonts/Code-Light.ttf') format('truetype'), url('../fonts/Code-Light.svg#webfont') format('svg');
  font-style: normal;
  unicode-range: U0-FFFF; }

@font-face {
  font-family: 'PT';
  src: url('../fonts/PTS55F-webfont.eot');
  src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F-webfont.woff') format('woff'), url('../fonts/PTS55F-webfont.ttf') format('truetype'), url('../fonts/PTS55F-webfont.svg#webfont') format('svg');
  font-style: normal;
  unicode-range: U0-FFFF; }

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway_thin-webfont.eot');
  src: url('../fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway_thin-webfont.woff') format('woff'), url('../fonts/raleway_thin-webfont.ttf') format('truetype'), url('../fonts/raleway_thin-webfont.svg#webfont') format('svg');
  font-style: normal;
  unicode-range: U0-FFFF; }

@font-face {
  font-family: "carrotcell";
  src: url("../fonts/carrotcell.eot");
  src: url("../fonts/carrotcell.eot?#iefix") format("embedded-opentype"), url("../fonts/carrotcell.woff") format("woff"), url("../fonts/carrotcell.ttf") format("truetype"), url("../fonts/carrotcell.svg#carrotcell") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  content: attr(data-icon); }

.cc-carrot-after:after {
  content: "\e001"; }

.cc-github:before {
  content: "\e003"; }

.cc-carrot:before {
  content: "\e001"; }

.cc-download:before {
  content: "\e002"; }

.cc-lab:before {
  content: "\e00a"; }

.cc-files:before {
  content: "\e00b"; }

.cc-dot:before {
  content: "\e004"; }

.cc-circle:before {
  content: "\e007"; }

.cc-down:before {
  content: "\e000"; }

.cc-up:before {
  content: "\e005"; }

.cc-right:before {
  content: "\e006"; }

.cc-delete:before {
  content: "\e009"; }

.cc-left:before {
  content: "\e00c"; }

.cc-play:before {
  content: "\e008"; }

.cc-pause:before {
  content: "\e00e"; }

.cc-stop:before {
  content: "\e00f"; }

.cc-link:before {
  content: "\e00d"; }

.cc-star:before {
  content: "\e010"; }

.cc-book:before {
  content: "\e012"; }

.cc-moon:before {
  content: "\e013"; }

.cc-eye:before {
  content: "\e011"; }

.cc-code:before {
  content: "\e014"; }

.cc-like:before {
  content: "\e016"; }

.cc-pictures:before {
  content: "\e015"; }

.cc-info:before {
  content: "\e018"; }

.cc-external:before {
  content: "\e017"; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

ol, ul {
  list-style: none; }

img {
  display: block; }

:focus {
  outline: none;
  border-bottom: solid 3px gray; }

body {
  color: #222;
  font: 13px Arial, sans-serif;
  overflow: hidden; }

.calendar {
  height: 100%; }

.nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding: 9px 20px;
  height: 60px; }
  .nav .logo {
    color: #dd4b39;
    font: 400 16px Arial, sans-serif;
    width: 184px; }
  .nav__button {
    display: inline-block;
    white-space: nowrap;
    background: #f5f5f5 -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: #444;
    cursor: pointer;
    font-size: 11px;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center; }
    .nav__button:hover {
      background: #F8F8F8 -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
      border: 1px solid #C6C6C6;
      color: #333;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); }
    .nav__button.on {
      background: #eee -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
      border: 1px solid #ccc;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
      color: #333; }
    .nav__button--today {
      margin-right: 7px; }
    .nav__button--prev, .nav__button--week {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px; }
    .nav__button--next, .nav__button--month {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: none; }
      .nav__button--next:hover, .nav__button--month:hover {
        border-left: none; }
  .nav__time {
    margin-right: 20px; }
  .nav__views {
    margin-left: auto; }

.week {
  position: relative;
  margin-left: 200px;
  height: 100%;
  overflow: hidden; }
  .week__header {
    width: 100%;
    height: 60px; }
  .week__scrollpane {
    position: fixed;
    width: 82%;
    height: calc(100% - 60px - 60px);
    border-top: solid 1px #ddd;
    overflow-y: scroll; }

.timestamps {
  position: absolute;
  top: 0;
  left: 0;
  height: 1010px;
  border: solid 1px #ddd;
  border-top: none;
  width: 100%;
  text-align: right; }
  .timestamps__stamp {
    height: 42px;
    border-top: solid 1px #ddd;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start; }
    .timestamps__stamp:first-child {
      border: none; }
  .timestamps__label {
    width: 60px;
    height: 42px;
    padding: 3px;
    border-right: solid 1px #ddd;
    font-size: 12px; }
  .timestamps__divider {
    flex-grow: 1;
    height: 21px;
    border-bottom: dashed 1px #ccc; }

.weekdays {
  width: 100%;
  height: 1010px;
  padding-left: 60px;
  display: flex;
  flex-flow: rows nowrap;
  align-items: stretch; }
  .weekdays__day {
    border-left: solid 1px #ddd;
    flex-grow: 1; }

