%beforeGeneric {
  font-family: "generic" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: center;
}

@charset "UTF-8";

@font-face {
  font-family: "generic";
  src:url("../fonts/generic.eot");
  src:url("../fonts/generic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/generic.woff") format("woff"),
    url("../fonts/generic.ttf") format("truetype"),
    url("../fonts/generic.svg#generic") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  @extend %beforeGeneric;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  @extend %beforeGeneric;
}

.icon-star:before {
  content: "\e000";
}
.icon-prev-bold:before {
  content: "\e001";
}
.icon-next-bold:before {
  content: "\e002";
}
.icon-plus:before {
  content: "\e003";
}
.icon-minus:before {
  content: "\e004";
}
.icon-dotdotdot:before {
  content: "\e005";
}
.icon-i:before {
  content: "\e006";
}
.icon-x:before {
  content: "\e007";
}
.icon-clock:before {
  content: "\e008";
}
.icon-next-block:before {
  content: "\e009";
}
.icon-down-block:before {
  content: "\e00a";
}
.icon-prev-block:before {
  content: "\e00b";
}
.icon-up-block:before {
  content: "\e00c";
}
.icon-mail:before {
  content: "\e00d";
}
.icon-pencil:before {
  content: "\e00e";
}
.icon-alert:before {
  content: "\e00f";
}
.icon-check:before {
  content: "\e010";
}
.icon-question:before {
  content: "\e011";
}
.icon-zoomin:before {
  content: "\e012";
}
.icon-zoomout:before {
  content: "\e013";
}
.icon-drag:before {
  content: "\e014";
}
.icon-chatting:before {
  content: "\e015";
}
.icon-loc:before {
  content: "\e016";
}
.icon-db:before {
  content: "\e017";
}
.icon-grid:before {
  content: "\e018";
}
.icon-col:before {
  content: "\e019";
}
.icon-row:before {
  content: "\e01a";
}
.icon-udpate:before {
  content: "\e01b";
}
.icon-wait:before {
  content: "\e01c";
}
.icon-up-bold:before {
  content: "\e01d";
}
.icon-down-bold:before {
  content: "\e01e";
}
.icon-upvote:before {
  content: "\e01f";
}
.icon-downvote:before {
  content: "\e020";
}
.icon-chat:before {
  content: "\e021";
}
.icon-clip:before {
  content: "\e022";
}
.icon-search:before {
  content: "\e023";
}
.icon-link:before {
  content: "\e024";
}
.icon-conctact:before {
  content: "\e025";
}
.icon-heart:before {
  content: "\e026";
}
.icon-download:before {
  content: "\e027";
}
.icon-plus-round:before {
  content: "\e028";
}
.icon-minus-round:before {
  content: "\e029";
}
.icon-home:before {
  content: "\e02a";
}
.icon-close-round:before {
  content: "\e02b";
}
.icon-person-x:before {
  content: "\e02c";
}
.icon-person-plus:before {
  content: "\e02d";
}
.icon-calendar:before {
  content: "\e02e";
}
.icon-up:before {
  content: "\e02f";
}
.icon-next:before {
  content: "\e030";
}
.icon-prev:before {
  content: "\e031";
}
.icon-down:before {
  content: "\e032";
}
.icon-quill:before {
  content: "\e033";
}
.icon-edit:before {
  content: "\e034";
}
