.all-schematic {
    background-image: url(../img/sprite-schematic.png);
    background-repeat: no-repeat;
    display: block;
}
.s-clues {
    background-position: -5px -5px;
}

.s-bbc {
    background-position: -315px -5px;
}

.s-bible {
    background-position: -5px -215px;
}

.s-hsn {  
    background-position: -315px -215px;
}

.s-sesame {
    background-position: -625px -5px;
}

.s-vevo {
    background-position: -625px -215px;
}



.all-subrosa {
    background-image: url(../img/sprite-subrosa.png);
    background-repeat: no-repeat;
    display: block;
}

.s-bike {
    background-position: -5px -5px;
}

.s-brvtvs {
    background-position: -315px -5px;
}

.s-defiance {
    background-position: -5px -215px;
}

.s-fcukfragrance {
    background-position: -315px -215px;
}

.s-foc {
    background-position: -5px -425px;
}

.s-friction {
    background-position: -315px -425px;
}

.s-gegarage {
    background-position: -5px -635px;
}

.s-gotube {
    background-position: -315px -635px;
}

.s-kss {
    background-position: -625px -5px;
}

.s-mamo {
    background-position: -625px -215px;
}

.s-nike {
    background-position: -625px -425px;
}

.s-rachelzoe {
    background-position: -625px -635px;
}

.s-subrosa {
    background-position: -5px -845px;
}
